<% include partials/header %>

<h1>This is the diskparks page</h1>

 <a href="/diskparks/new">Add New DiskPark</a>

<% diskparks.forEach(function(diskparks){ %>
      <div>
      <h4><%= diskparks.name %></h4>
      <img src="<%= diskparks.image %>" >
      </div>
<% }); %>

<% include partials/footer %>
